.container {
  background: rgba(24, 26, 37, 0.5);
  border: 1px solid white;
  border-radius: 17px;
  display: flex;
  flex-direction: column;
  height: 30vh;
  justify-content: center;
  margin: 1%;
  mix-blend-mode: hard-light;
  width: 47%;
}

.infos {
  align-items: center;
  border-top: 1px solid white;
  color: white;
  display: flex;
  font-family: Epilogue , sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  width: 100%;

}

.title {
  align-items: center;
  color: white;

  /* or 34px */
  display: flex;
  font-family: Epilogue , sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 300;
  line-height: 120%;
  margin: 1vw;
  padding: 2%;
  text-transform: uppercase;
}

.text {
  margin: 1vw;
  padding: 2%;

  /* width: 30%; */
}
